h1 {
  color: rgb(190,190,190);
  font-size: 2.8em;

}

head, body {
  font-family: 'Slabo 27px', serif;

}

body {
  background-color: rgba(170,170,170,.5);
}


#nav-bar {
  display: inline-block;
  float: right;
  text-decoration: none;
  list-style-type: none;
  
}

#nav-bar li {
  list-style-type: none;
  margin: 25px;
  float: right;
  text-decoration: none;
  font-size: 2em;

}

a {
  color: rgba(130,130,130,.5);
  text-decoration: none;
}

h1, nav {
  position: absolute; 
  left: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(90,90,90)
}

#email-button {
  color: #71C255;
  text-decoration: none;
  border-color: rgb(0,0,0);
  border-style: solid;
  border-width: 10px;
  position: fixed;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  margin: 0 auto;
  font-size: 40px;
  position: fixed;
  top: 45%;
  left: 40%;
  
}

p {
  text-decoration: none;
  position: fixed;
  margin: 0 auto;
  font-size: 35px;
  top: 30%;
  left: 17%;

}
