
#pupshare-img, #hiptraveler-img, #book-img {
  width: 80%;
  height: auto;
}

.project-image {
  padding-top: 35px;
}

#about, #projects, #contact {
  display: none;
}

#pupshare, #hiptraveler, #reviewthatbook {
  padding-top: 50px;
}

.nav-buttons {
  background: #000;
  background-image: -webkit-linear-gradient(top, #000, #19798a);
  background-image: -moz-linear-gradient(top, #000, #19798a);
  background-image: -ms-linear-gradient(top, #000, #19798a);
  background-image: -o-linear-gradient(top, #000, #19798a);
  background-image: linear-gradient(to bottom, #000, #19798a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #faf0fa;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #12344a 2px;
  text-decoration: none;
}


.buttons-for-projects {
  background: #AFEEEE;
  background-image: -webkit-linear-gradient(top, #AFEEEE, #19798a);
  background-image: -moz-linear-gradient(top, #AFEEEE, #19798a);
  background-image: -ms-linear-gradient(top, #AFEEEE, #19798a);
  background-image: -o-linear-gradient(top, #AFEEEE, #19798a);
  background-image: linear-gradient(to bottom, #AFEEEE, #19798a);
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier;
  color: #faf0fa;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin: auto;
  border: solid #12344a 2px;
  text-decoration: none;
}


body {
  background: url('http://www.s3forums.com/forum/attachments/galaxy-s3-graphics/10164d1390686524-share-your-wallpaper-22963-planets-near-turquoise-nebula-1920x1080-fantasy-wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

h1, h2, h3, .main-header {
  color: #F0F0F0;
  font-family: Georgia;
}

#main-nav {
  float: right;
  position: relative;
}

.description, #about-para {
  background-color: rgba(175,238,238,.5);
  font-size: 16px;
  font-family: Georgia;
  font-weight: bold;
  display: inline-block;
}

.scrollToTop{
	width:130px;
	height:130px;
	padding:10px;
	text-align:center;
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url('Arrow-Up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
