body {
  font-family: 'Yrsa', serif !important;
  background: url('https://images7.alphacoders.com/379/379370.jpg') no-repeat center center fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}


.main-header {
  color: #0293A7;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: center;
  border: none;
  padding-left: 460px;
}


#pupshare-view2, #hip-view2, #book-view2 {
  font-size: 24px;
  text-shadow: 1px 1px 3px #666666;
  color: #faf0fa;
  position: absolute;
  right: 41%;
  top: 60%;
  display: none;
}

#pupshare-view1 {
  font-size: 36px;
  text-shadow: 1px 1px 3px #666666;
  color: #faf0fa;
  position: absolute;
  right: 40%;
  top: 45%;
  display: none;
}

#hip-view1 {
  font-size: 36px;
  text-shadow: 1px 1px 3px #666666;
  color: #faf0fa;
  position: absolute;
  right: 35%;
  top: 45%;
  display: none;
}

#book-view1 {
  font-size: 36px;
  text-shadow: 1px 1px 3px #666666;
  color: #faf0fa;
  position: absolute;
  right: 25%;
  top: 45%;
  display: none;
}

#my-name {
  font-size: 60px;
  display: inline-block;
  cursor: pointer;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 36px;
  color: #fff;
}

.description, #about-para, #second-about-para {
  background-color: rgba(175,238,238,.5);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: #230A3A;
  padding: 10px 10px;
}


#pupshare, #hiptraveler, #reviewthatbook {
  padding-top: 30px;
  display: inline-block;
  position: relative;
  float: left;
  width: 500px;
  margin-right: 40px;
  margin-bottom: 30px
}

#pupshare-img, #hiptraveler-img, #book-img {
  width: 450px;
  height: 250px;
  cursor: pointer;
}


#pupshare-img:hover, #hiptraveler-img:hover, #book-img:hover {
  opacity: 0.5;
}

.project-image {
  padding-top: 35px;
}

.about-project {
  font-size: 24px;
  padding: 30px 40px;
}

.tech-used {
  font-size: 20px;
  padding: 30px 40px;
  text-align: center;
}

li {
  list-style-type: none;
}

.project-title {
  text-align: center;
  font-size: 32px;
  padding-top: 40px;
  text-decoration: underline;
}

#footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  padding-top: 50px;
}


a {
  font-size: 28px;
  color: #0293A7;
}

button {
  background: #005253;
  background-image: -webkit-linear-gradient(top, #005253, #3498db);
  background-image: -moz-linear-gradient(top, #005253, #3498db);
  background-image: -ms-linear-gradient(top, #005253, #3498db);
  background-image: -o-linear-gradient(top, #005253, #3498db);
  background-image: linear-gradient(to bottom, #005253, #3498db);
  text-decoration: none;
}
